/* ============== Tailwind core ============== */
@import "tailwindcss";
@import "tw-animate-css";

/* dark mode via .dark sur <html> */
@custom-variant dark (&:is(.dark *));

/* ============== Thème (tokens) ============== */
@theme {
	/* light */
	--color-background: hsl(0 0% 100%);
	--color-foreground: hsl(222.2 84% 4.9%);
	--color-border: hsl(214.3 31.8% 91.4%);
	--color-ring: hsl(222.2 84% 4.9%);
	--color-primary: hsl(262 83% 58%);

	/* typographie & radius si tu veux
  --radius: 0.75rem;
  */
}
@theme dark {
	--color-background: hsl(222.2 84% 4.9%);
	--color-foreground: hsl(210 40% 98%);
	--color-border: hsl(217.2 32.6% 17.5%);
	--color-ring: hsl(215 20.2% 65.1%);
	--color-primary: hsl(262 83% 70%);
}

@theme inline {
	--animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
	@keyframes orbit {
		0% {
			transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
		}
		100% {
			transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
		}
	}
	--animate-rainbow: rainbow var(--speed, 2s) infinite linear;
	--color-color-5: var(--color-5);
	--color-color-4: var(--color-4);
	--color-color-3: var(--color-3);
	--color-color-2: var(--color-2);
	--color-color-1: var(--color-1);
	@keyframes rainbow {
		0% {
			background-position: 0%;
		}
		100% {
			background-position: 200%;
		}
	}
	--animate-blink-cursor: blink-cursor 1.2s step-end infinite;
	@keyframes blink-cursor {
		0%,
		49% {
			opacity: 1;
		}
		50%,
		100% {
			opacity: 0;
		}
	}
	--animate-shiny-text: shiny-text 8s infinite;
	@keyframes shiny-text {
		0%,
		90%,
		100% {
			background-position: calc(-100% - var(--shiny-width)) 0;
		}
		30%,
		60% {
			background-position: calc(100% + var(--shiny-width)) 0;
		}
	}
	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite
;
  @keyframes marquee {
  from {
    transform: translateX(0);
		}
  to {
    transform: translateX(calc(-100% - var(--gap)));
		}
	}
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
		}
  to {
    transform: translateY(calc(-100% - var(--gap)));
		}
	}}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

:root {
	--color-1: oklch(66.2% 0.225 25.9);
	--color-2: oklch(60.4% 0.26 302);
	--color-3: oklch(69.6% 0.165 251);
	--color-4: oklch(80.2% 0.134 225);
	--color-5: oklch(90.7% 0.231 133);
}

.dark {
	--color-1: oklch(66.2% 0.225 25.9);
	--color-2: oklch(100% 0.00011 271.152);
	--color-3: oklch(69.6% 0.165 251);
	--color-4: oklch(80.2% 0.134 225);
	--color-5: oklch(90.7% 0.231 133);
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}